<!DOCTYPE html>
<html>
<head>
  <title>Artist Name</title>
</head>
<body>
<h1><%= @artist.name %> - <%= @artist.songs.count %></h1>
<ol>
<% @artists.each do |artist| %>
  <li><%= artist.song.name %> - <%= artist.song.genre.name %></li>
  <% end %>
</ol>
</body>
</html>