<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Welcome to Team Saga's Jukebox!</h1>
 <p>Please enjoy browsing the song genres.</p>
 <h2>Genres</h2>
 <ul>
  <% @genres.each do |genre| %>
   <li><a href="genres/<%= genre.url %>.html" title=""><%= genre.name %></a></li>
   <% end %>
 </ul>
</body>
</html>